html/*
*~
server/server/obj/*
server/.vs/server/v14/.suo
server/server/bin/*
server/packages/*
*.orig
server/ServerTest/bin/*
server/ServerTest/obj/*
server/Core/bin/*
server/Core/obj/*
server/CoreTest/bin/*
server/CoreTest/obj/*
